* {
background-color: black;
}

.button-round {
border-radius: 15px 15px 15px 15px;
}

.space-image {
width: 100px;
 height: 90px;
}

.caption{
position: absolute;
  bottom: 8px;
  right: 16px;
}

.carousel-caption {
   white-space: nowrap;
   font-size: 15px;
   font-weight: bolder;
   color: white;
   margin-right:100%;
   margin-top: 100%;
   margin-bottom: 20%;
   margin-left: 0%;
}

.grey-in-list{
margin-top: 1%;
color: darkgrey;
font-size: 13px;

}

.black-in-list{
color: black;
font-size: 13px;
}

.float-left1{
height: 100%;
width: 100%;
display: inline-block;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: black;
    margin-bottom: -1px!important;
    border: 1px solid black!important;
}

.border-entertainment {
border-bottom :5px solid blue!important;
}